$black: #000000;
$white: #ffffff;   
$color-background-linear-1: linear-gradient(#000000, #1a1a1a);
$color-background-linear-2: linear-gradient(#1a1a1a, #271b1b);
$color-background-linear-3: linear-gradient(#271b1b, #dc2020);

$color-text: #ffffff;
$color-primary: #ff0000;