@use "colors.scss";

.event__location {
    background-image: colors.$color-background-linear-1;
}

.event__dresscode {
    background-image: colors.$color-background-linear-2;
}

.event {
    padding-top:40px;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .image-left {
        flex-direction: row-reverse;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }

    &__details {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--title {
            font-size: 40px;
            font-weight: bold;
            color: colors.$color-primary;
        }

        &--text {
            line-height: 30px;

            &--bold {
                font-size: 20px;
                font-weight: bold;
                line-height: 40px;
                padding-bottom: 20px;
            }
        }

        &--link {
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            color: colors.$color-primary;
            text-decoration: underline;
            font-family: "Shadows Into Light", cursive;
        }

        &--list {
            list-style:armenian;
            margin-left: 40px;
            line-height: 30px;
            
            li {
                font-family: "Shadows Into Light", cursive;
                color: colors.$color-primary;
            }
        }
    }

    &__image {
        max-width: 420px;
        border-radius: 8px;
        width: 100%;
        height: auto; // Mantém a proporção da imagem
        object-fit: cover; // Evita distorção mantendo a proporção
    }
    
    // Media query para tablets
    @media (max-width: 1024px) {
        .container {
            gap: 20px;
        }
        
        &__image {
            max-width: 300px;
            width: 100%;        // Garante que a largura se ajuste ao container
            height: auto;       // Mantém a proporção original
            object-fit: cover;  // Preserva a proporção e cobre o container
            aspect-ratio: auto; // Usa a proporção natural da imagem
        }

        &__details {
            max-width: 100%;
            align-items: flex-start;
            
            &--title {
                font-size: 30px;
                margin-bottom: 10px;
                line-height: 38px;
            }
            
            &--text {
                font-size: 16px;
                line-height: 28px;
                
                &--bold {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: normal;
                }
            }
            
            &--list {
                margin-left: 0;
                padding-left: 20px;
                width: fit-content;
                
                li {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    // Media query para smartphones
    @media (max-width: 640px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        
        .image-left {
            flex-direction: column;
        }
        
        &__image {
            max-width: 100%;
            margin-bottom: 20px;
        }
        
        &__details {
            width: 100%;
            align-items: center;
            text-align: center;
            
            &--title {
                font-size: 28px;
                margin-bottom: 10px;
            }
            
            &--text {
                font-size: 14px;
                line-height: 24px;
                
                &--bold {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
            
            &--list {
                margin-left: 0;
                padding-left: 20px;
                width: fit-content;
                
                li {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}